{% extends "FabricaDistributionBundle:Configuration:step.html.twig" %}

{% block step_content %}
    <h2>Database</h2>

    {% if status %}
        <p>To start using Fabrica, you need to configure database here and initialize database (see <a href="http://fabrica.com/doc/fabrica/master/installation">documentation</a>).</p>
    {% else %}
        <p>Please correct database parameters.</p>
    {% endif %}

    <form id="config-doctrine" action="{{ path('fabricadistribution_configuration_saveStep', {slug: step.slug}) }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <input type="submit" value="Save" class="btn" />
        </p>
    </form>
{% endblock %}
